WBL_API_BASE_URL=https://api.whitebox-learning.com/api
WBL_EMAIL=your-email@example.com
WBL_PASSWORD=your-password

# Where Google Drive Desktop syncs your Automation folder
DRIVE_AUTOMATION_FOLDER=G:\My Drive\Automation


COLAB_URL=https://colab.research.google.com/drive/YOUR_ID_HERE

# The path to the root Google Chrome Profile "User Data" folder.
CHROME_USER_DATA_DIR=C:\Users\AI ML PC 1\AppData\Local\Google\Chrome\User Data

# The specific profile folder name (e.g. "Default", "Profile 1", "Profile 4")
CHROME_PROFILE_NAME=Profile 4

# Email Reporting Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-gmail@gmail.com
SMTP_PASSWORD=your-16-digit-app-password
REPORT_RECIPIENT_EMAILS=manager1@company.com, manager2@company.com
